body{
  /* The image used */
  background-image: url("plane.png");

  /* Full height */
  height: 100%;

  /* Center and scale the image nicely */
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

h1 {
  color: purple;
  text-align:center;
  background-color:pink;
  border: 1px solid #ccc;
  border-radius: 5px;
  max-width: 600px;
  margin: auto;
}
#label_1{
  font-size:24px;
}
#label_2{
  font-size:24px;
}
#departure {
  position:absolute;
  width:300px;
  height:45px;
  left:30px;
}
#destination {
  position:absolute;
  width:300px;
  height:45px;
  left:340px;
}
#date{
  position:absolute;
  width:300px;
  height:45px;
  left:650px;
}
#label1{
  position: absolute;
  bottom:475;
  z-index: 1;
  left: 650px;
  font-size:12px;
  padding: 0 5px;
  color:grey;
}
#date1{
  position:absolute;
  width:300px;
  height:45px;
  right:90px;
}
#label2{
  position: absolute;
  bottom:475;
  z-index: 1;
  left:960px;
  font-size:12px;
  padding: 0 5px;
  color:grey;
}
#passengers{
  position:absolute;
  width:300px;
  height:45px;
  left:340px;
  bottom:380px;
}
#passengers_1{
  position:absolute;
  width:300px;
  height:45px;
  right:90px;
}
#class{
  position:absolute;
  width:300px;
  height:45px;
  left:650px;
  bottom:380px;
}
#class_1{
  position:absolute;
  width:300px;
  height:45px;
  left:490px;
  bottom:380px;
}
#button{
      position: absolute;
      left:570px;
      background-color: #FFB6C1;
      border: none;
      border-radius: 5px;
      color: purple;
      cursor: pointer;
      font-size: 1.2em;
      width:200px;
      height:45px;
      bottom:300px;
}
#button:hover {
      background-color: grey;
      color:Purple;
    }
#back{
      position: absolute;
      left: 70px;
      background-color: #FFB6C1;
      border: none;
      border-radius: 5px;
      color: purple;
      cursor: pointer;
      font-size:20px;
      width:200px;
      height:45px;
      bottom:30px;
      transition: all 0.3s ease;
}
#back:hover {
      background-color: grey;
      color:Purple;